.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;

  @media(min-width: 600px) {
    flex-wrap: nowrap;
  }

  input:focus {
    border-color: #FFE239;
  }

  &__input {
    width: 70%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #191919;
  }

  &__button {
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #191919;
    color: #FFE239;
    border: none;
    margin-top: 1rem;
    cursor: pointer;

    @media(min-width: 600px) {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}
